.main-section {
    background-image: url('https://ui-ex.com/images/vector-clouds-2.png')!important;
    background-repeat: no-repeat;
}

.container-main {
    max-width: 40%;
}

.title {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 3%; 
}

.subtitle {
    margin: auto;
    display: flex;
    justify-content: center;
}

.main-section-input {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.button {
      margin-left: 3%;
}

.from {
    float: right;
}

